.nav {
	grid-area: n;
	background-color: #4ec119;
	border-right: 1px solid #1f5804;
	padding: 20px;
}

.navitem a {
	color: #fff;
	text-decoration: none;
}

.navitem a.activeLink {
	color: rgb(228, 230, 230);
}
